<!DOCTYPE html>
<html>
<head>
  <title>Stream</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>
  <body>
    <div id="home" class="landing-text">
      <h1>LIVE STREAM</h1>
      <img id="bg" src="{{ url_for('video_feed') }}">
    </div>
  </body>
</html>
